<div class="d-flex align-items-center" *ngIf="!posts">
    <strong><i class="fas fa-comments"></i> Comments</strong>
    <div *ngIf="!comments" class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<div *ngIf="comments">
    <div class="card" *ngFor="let comment of comments">
        <div class="card-body">
            <h5 class="card-title">{{comment.name}}</h5>
            <p class="card-text">{{comment.body}}</p>
            <hr>
            <p style="margin-bottom: 0;"><i class="fas fa-user"></i> {{comment.email}}</p>
        </div>
    </div>
</div>

