.btn-back {
    position: relative;
    left: 15px;
    margin: 10px;
}
.card {
    padding: 10px;
    margin: 10px;
    background: var(--light);

    div {
        img {
            max-width: 100%;
        }
        .image-overlay {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0px;
            left: 15px;
            width: 150px;
            height: 150px;
            max-width: calc(100% - 20px);
            max-height: 100%;
            background: rgba(255, 255, 255, .4);
            transition: all .4s;

            h2 {
                text-align: center;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        img:hover {
            cursor: pointer;
        }
        img:hover + .image-overlay {
            opacity: 1;
        }
        // img, p {
        //     display: inline-block;
        // }
    }
}
.modal-body {
    img {
        max-width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}