<button type="button" class="btn btn-light btn-back" (click)="goBack()"><i class="fas fa-chevron-left"></i>  Back to albums</button>
<div class="d-flex justify-content-center" *ngIf="!photos">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<section *ngIf="photos">
    <div class="col-lg-6 float-left" *ngFor="let photo of photos">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                            <img (click)="showPhoto(photo)" src="{{photo.thumbnailUrl}}">
                            <div class="image-overlay"><h2><i class="fas fa-search-plus"></i></h2></div>
                    </div>
                    <div class="col-md-8">
                            <p>{{photo.title}}</p>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>

<button id="modalButton" type="button" style="display: none;" data-toggle="modal" data-target="#exampleModalCenter">
    Launch modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img *ngIf="photoToDisplay" src="{{photoToDisplay.url}}">
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>