<div class="d-flex align-items-center" style="padding: 20px" *ngIf="!posts">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<section *ngIf="posts">
    <div class="card" *ngFor="let post of posts">
        <div class="card-body">
            <h4><i class="fas fa-blog"></i> {{post.title}}</h4>
            <hr>
            <p>{{post.body}}</p>
            <app-comments postId="{{post.id}}"></app-comments>
        </div>
    </div>
</section>
