.card {
    transition: all .4s;

    .card-body {
        i {
            font-size: 20px;
            margin-right: 10px;
        }
        h4 {
            margin-right: 15px;
            font-style: italic;
        }
        p {
            position: relative;
            bottom: 3px;
        }
        i,h4,p {
            display: inline-block;
        }
    }
}
.card:hover {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
}