<div class="d-flex align-items-center" style="padding: 20px" *ngIf="!albums">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<section *ngIf="albums">
    <div (click)="navigateToAlbum(album)" class="card" style="margin: 5px;" *ngFor="let album of albums">
        <div class="card-body">
            <i class="fas fa-images"></i>
            <h4>#{{album.id}}  </h4>
            <p class="card-text">{{album.title}}</p>
        </div>
    </div>
</section>